
/* Hidden class for hiding elements. */
.hidden {
    display: none;
}


/* Main tag styles */
.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Admin button Styles */
.admin-btn {
    display: flex;
    background: #333;
}

.admin-btn span {
    color: white;
    margin: auto;
}

div.admin-btn:hover {
    background-color: darkgray;
    cursor: pointer;
}

/* List for image selection. */
#image-list {
    padding: 0;
    display: flex;
    background: #333;
    overflow: auto;
    white-space: nowrap;
}

#image-list li {
    margin: auto;
    width: 70%;
    list-style-type: none;
    text-align: center;
    color: white;
    background-color: #444;
}

#image-list li:hover {
    background-color: darkgray;
    cursor: pointer;
}

@media screen and (max-width: 1920px) {
    .image-list-class,
    #image-list {
        width: 70%;
        height: 75px;
    }
    .admin-btn {
        width: 20%;
        height: 75px;
    }
    .admin-btn,
    .image-list-class,
    #image-list li {
        font-size: 1.8em;
    }
}